html {
  background-color: #FFFFFF;
}
#intro {
  font-size: 14px;
  color: #00AAFF;
}

a:link, a:visited {
  background-color: #666633;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
}

nav {
  background-color: #4d6600;
}

[name="yourName"] {
  margin-left: 7px;
}